@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!--This is the homepage that contains the picture of Joel and the title of Joel's film collection-->
<div>
    <h2>The Joel Hilton Film Collection</h2>
    <img src="~/img/JoelHiltonHeadshot.jpg" height="200"/>
</div>


